# Basics Operation and Operators

2+2

In [23]:
329*123

40467

In [24]:
10/3

3.3333333333333335

In [25]:
10//3

3

In [26]:
10%3

1

In [27]:
10**3

1000

In [28]:
20**7

1280000000

In [29]:
9118899273>9005739273

True

In [30]:
5632149<564798

False

In [31]:
4556==4556

True

In [32]:
561!=561

False

In [33]:
896>=9876

False

In [34]:
'excuses'

'excuses'

In [35]:
'''kehdi hundi si
chan tak rah bana de'''

'kehdi hundi si\nchan tak rah bana de'

In [36]:
"we are one"

'we are one'

In [37]:
name='Prince'

In [38]:
a=99
b=56

In [39]:
a+b

155

In [40]:
a+b

155

In [41]:
college='IGNOU'
dob="17 August, 2001"
mobileNum='9118899273'

In [42]:
#singleQuotes
location='Alambagh'

In [43]:
name

'Prince'

In [44]:
#Name Error
place

NameError: name 'place' is not defined

In [ ]:
#concatenation
"hello"+' bro'

'hello bro'

In [ ]:
'Random'+'location'

'Randomlocation'

In [ ]:
#TypeError
'name'+123

TypeError: can only concatenate str (not "int") to str

In [ ]:
'HArp'-"rp"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
'he'*7

'hehehehehehehe'

In [ ]:
'-'*56

'--------------------------------------------------------'

# VARIABLES

In [ ]:
latName='Singh'

In [ ]:
skills=['JAVA','Singer','Cook','Intelligent']

In [ ]:
print(skills)

['JAVA', 'Singer', 'Cook', 'Intelligent']

In [ ]:
x=563214789564612305647894123
y=-95

In [ ]:
#To Check Type of a Variable
type(skills)

list

In [ ]:
type(latName)
type(x)

int

In [ ]:
school='LPS'

In [ ]:
fav_song='''Perfect
            by Ed Shearan'''

In [ ]:
print(fav_song)

Perfect
            by Ed Shearan

In [ ]:
#BOOLEAN
is_learning=True

In [ ]:
#NONE
network=None

In [ ]:
#BOOLEAN
ujjwal_is_learning=True

In [ ]:
#LISTS
a=[5,15,20,25,30,35,40]
val=[1,2,3,'python']
colors=['black','grey','sky blue','red']

In [ ]:
#TUPLES
b=(5,15,20,25,30,35,40)
val=(1,2,3,'python')
colors=('black','grey','sky blue','red')

In [ ]:
#SETS
c={5,15,20,25,30,35,40,40}

In [ ]:
#DICTIONARY
car_info={"brand":"Hyundai",'model':'Santro','Year':2012}