In [1]:
movies=['KGF',"Qismat","Shada"]
for i in movies:
    print(i)
print("The End")

KGF
Qismat
Shada
The End

In [2]:
for i, name in enumerate(movies):
    print(f"{i}-{name}-length:{len (name)}")

0-KGF-length:3
1-Qismat-length:6
2-Shada-length:5

In [3]:
for i in range (6):
    print("You Got point:",i)

You Got point: 0
You Got point: 1
You Got point: 2
You Got point: 3
You Got point: 4
You Got point: 5

In [4]:
for num in range(2,11):
    print("Sheep", num)

Sheep 2
Sheep 3
Sheep 4
Sheep 5
Sheep 6
Sheep 7
Sheep 8
Sheep 9
Sheep 10

In [5]:
for num in range(1,15,5):
    print("level",num)

level 1
level 6
level 11

In [6]:
#Reverse Loop
for num in range(10,3,-2):
    print(num)

10
8
6
4

In [7]:
#Pattern
for i in range(10):
    print(i*"naja")

naja
najanaja
najanajanaja
najanajanajanaja
najanajanajanajanaja
najanajanajanajanajanaja
najanajanajanajanajanajanaja
najanajanajanajanajanajanajanaja
najanajanajanajanajanajanajanajanaja

In [8]:
for  i in range(101):
    if(i%2==0):
        print(i," is Even")
    else:
        print(i, " is Odd")
print("Thanks")

0  is Even
1  is Odd
2  is Even
3  is Odd
4  is Even
5  is Odd
6  is Even
7  is Odd
8  is Even
9  is Odd
10  is Even
11  is Odd
12  is Even
13  is Odd
14  is Even
15  is Odd
16  is Even
17  is Odd
18  is Even
19  is Odd
20  is Even
21  is Odd
22  is Even
23  is Odd
24  is Even
25  is Odd
26  is Even
27  is Odd
28  is Even
29  is Odd
30  is Even
31  is Odd
32  is Even
33  is Odd
34  is Even
35  is Odd
36  is Even
37  is Odd
38  is Even
39  is Odd
40  is Even
41  is Odd
42  is Even
43  is Odd
44  is Even
45  is Odd
46  is Even
47  is Odd
48  is Even
49  is Odd
50  is Even
51  is Odd
52  is Even
53  is Odd
54  is Even
55  is Odd
56  is Even
57  is Odd
58  is Even
59  is Odd
60  is Even
61  is Odd
62  is Even
63  is Odd
64  is Even
65  is Odd
66  is Even
67  is Odd
68  is Even
69  is Odd
70  is Even
71  is Odd
72  is Even
73  is Odd
74  is Even
75  is Odd
76  is Even
77  is Odd
78  is Even
79  is Odd
80  is Even
81  is Odd
82  is Even
83  is Odd
84  is Even
85  is Odd
86  is Even
87  is Odd
88  is Even
89  is Odd
90  is Even
91  is Odd
92  is Even
93  is Odd
94  is Even
95  is Odd
96  is Even
97  is Odd
98  is Even
99  is Odd
100  is Even
Thanks

In [9]:
sum =0
for i in range(2,101,2):
    sum=sum+i
print("Sum= ",sum )

Sum=  2550

In [10]:
sum=0
avg=0
c=0
for i in range(1,100,2):
    c+=1
    sum = sum +i
avg=sum/c
print("Average= ",avg)

Average=  50.0

In [11]:
for i in range(1,6):
    for j in range(i,(i*5)+1,i):
        print(j, end=('\t'))
    print()

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [12]:
x=1
while x < 5:
    print('run')
    x+=1
print("Stop")

run
run
run
run
Stop